* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

/* 面包屑样式 */
.bread {
  background-color: #d4dae0;
  padding-left: 20px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  width: 100%;
}

/*表格行的样式*/
.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}
